@import "_fonts";

// fonts
$loginFont-primary: "Avenir Next", sans-serif;

$loginFont-weight-light: 300;
$loginFont-weight-regular: 400;
$loginFont-weight-medium: 500;
$loginFont-weight-semibold: 600;
$loginFont-weight-bold: 700;

// colors
$dark-blue: #213f7d;
$grey: #545f7d;
$lighterGrey: #fbfbfb;
$aqua-blue: #39cdcc;
